@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
  /* font-size: 20px; */
}
body {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: grid;
  grid-template-rows: 1fr;
  gap: 14px;
  font-size: 1em;
  font-weight: 400;
  margin: 20px auto;
  width: 80%;
}

.height-header {
  background-color: #bfbfbf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.height-header h1 {
  font-weight: 300;
  font-size: 1em;
  font-family: "Inter", sans-serif;
}

.bottom-header .list-header {
  display: flex;
  font-size: 1em;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}

.bottom-header .list-header li:nth-child(4) {
  font-size: 2em;
  font-weight: 900;
}
.img1 {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.img1::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 50vh;
  background-image: url("../png/image13.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  /* background-attachment: fixed; */
}

.text-img1 {
  position: absolute; /* теперь текст поверх картинки */
  left: 5%;
  bottom: 10%;
  --color-text: #fafafa;
  z-index: 10;
}
.text-img1 h1 {
  font-size: 1.75em;
  font-weight: 400;
  color: var(--color-text);
  user-select: none;
}
.text-img1 button {
  outline: #fafafa 1px solid;
  background-color: #ffffff00;
  color: var(--color-text);
  border-radius: 15px;
  font-size: 0.5em;
  padding: 5px;
  padding-inline: 20px;
  font-weight: 500;
  transition: 0.2s ease;
  border: 0;
}

.text-img1 button:hover {
  outline: #bfbfbf 3px solid;
  transform: scale(105%);
  /* font-size: 0.6em; */
}
.text-img1 button:active {
  outline: var(--color-text) 2px solid;
  transform: scale(102%);
  /* font-size: 0.55em; */
}
.products-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 50px;
}
#list-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 90vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
}
#list-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.card {
  background-color: #f5f5f5;
  width: 300px;
  height: 400px;
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.card h2 {
  font-size: 2.5em;
  font-weight: 700;
}

.card img {
  width: 50%;
  height: 40%;
  position: relative;
  left: 25%;
}

.card h3 {
  font-size: 0.6em;
  font-weight: 700;
}
.card p {
  font-size: 0.5em;
  font-weight: 400;
}

.card button {
  background-color: #ebebeb;
  padding: 2%;
  width: 60%;
  font-size: 1em;
  font-weight: 700;
  position: relative;
  left: 20%;
  border: 0;
  color: #696969;
  transition: 0.2s ease;
}

.card .item-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.card button:hover {
  background-color: #d1cece;
  transform: scale(105%);
}
.card button:active {
  background-color: #ebebeb;
}

.left {
  border-radius: 50%;
  border: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
}
.right {
  border-radius: 50%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
}

.img2::before {
  position: absolute;
  content: "";
  background-image: url("../png/image14.png");
  width: 100%;

  z-index: -1;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(0.5);
}
.img2 {
  position: relative;
  z-index: 10;
  display: flex;
  height: 75vh;

  justify-content: center;
}

.text-img2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 20%;
}
.text-img2 h2,
.text-img2 p {
  color: #ebebeb;
  text-shadow: 1px 1px 5px black;
}

.text-img2 h2 {
  font-size: 2em;
  font-weight: 700;
}
.text-img2 p {
  font-size: 1em;
  font-weight: 400;
}

.product-2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* background-color: red; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.product-2-2 {
  width: 40%;

  height: 70vh;
  background-color: #f1f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 15px;
}

.img-product-2 {
  background-image: url("../png/image15.png");
  width: 40%;

  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.image-product-2-2 {
  background-image: url("../png/image16.png");
  width: 25vw;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

.product-3 {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* background-color: red; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.product-3-2 {
  width: 40%;
  height: 70vh;
  background-color: #f1f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 15px;
}

.img-product-3 {
  background-image: url("../png/image17.png");
  width: 40%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.image-product-3-2 {
  background-image: url();
  width: 25vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

.social {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  width: 90%;
  height: 40vh;
  margin-left: 5%;
  margin-top: 5%;
  padding: 20px;
  background-color: #f1f0ed;
  border-radius: 15px;
}

.social-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-2 {
  opacity: 0.6;
  width: 100%;
  height: 90%;
}

#list-2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
#list-2::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.social-item {
  display: block;
  background-color: #878787;
  width: 300px;
  height: 100%;
  flex: 0 0 auto;
}

.social-text button {
  padding: 5px;
  font-size: 0.6em;
  font-weight: 700;
  border: 0;
  outline: solid 2px rgb(27, 27, 27);
  background-color: transparent;
  border-radius: 20px;
  padding-inline: 3%;
  transition: 0.3s;
}

.social-text button:hover {
  outline: solid 4px rgb(27, 27, 27);
  transform: scale(105%);
}
.social-text button:active {
  outline: solid 2px rgb(27, 27, 27);
  transform: scale(103%);
}

.product-4 {
  margin-top: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* background-color: red; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.product-4-2 {
  width: 40%;
  height: 70vh;
  background-color: #f1f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 15px;
}

.img-product-4 {
  background-image: url("../png/image18.png");
  width: 40%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
}

.image-product-4-2 {
  background-image: url();
  width: 25vw;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
}

.footer {
  background-color: #878787;
  width: 100%;
  margin-top: 5%;
}
.footer h1 {
  font-size: clamp(100px, 30vw, 800px);
  font-weight: 900;
  color: #67645e;
  text-align: center;
}

.list-header {
  transition: 0.3s ease;
}
.list-header li:hover {
  border-bottom: #bfbfbf solid 2px;
  transform: scale(105%);
}
.list-header li:active {
  border-bottom: #bfbfbf solid 0px;
}

.list-header li:nth-child(4):hover {
  border-bottom: #bfbfbf solid 0px;
  transform: scale(100%);
}
.button-burger {
  display: none;
}

.modale {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(14, 13, 13, 0.56);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modale-burger .list-header {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
#btn-close {
  font-size: 3em;
  font-weight: 700;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  color: #ebebeb;
}
.modale-burger .list-header li a {
  color: #ebebeb;
  font-weight: bold;
  font-size: 3em;
}

/* Tablet prepend 1024px */
/* Phone prepend 768px */
@media (hover: hover) and (pointer: fine) {
  .card button:hover {
    background-color: #d1cece;
    transform: scale(105%);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .bottom-header {
    display: none;
  }
  .button-burger {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
  }
  .header {
    display: flex;
    justify-content: center;
  }

  .list-header {
    flex-direction: column;
  }

  .img1 {
    height: 20vh;
  }
  .img1::before {
    background-size: contain;
  }
  .img2 {
    height: 20vh;
    margin-bottom: 40vh;
    margin-top: 10vh;
  }
  .img2::before {
    height: 55vh;
    background-size: cover;
  }

  .text-img2 {
    margin-top: 0;
  }
  .text-img1 {
    position: relative;
    left: 5%;
    top: 10%;
    --color-text: #fafafa;
    color: var(--color-text);
    z-index: 10;
  }

  .products-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 15px;
  }

  .product-2-2 {
    height: 30vh;
  }

  .img-product-2 {
    height: 30vh;
  }

  .product-3-2 {
    height: 30vh;
  }

  .img-product-3 {
    height: 30vh;
  }
  .product-4-2 {
    height: 30vh;
  }

  .img-product-4 {
    height: 30vh;
  }
}
